[run]
omit = 
	*/tests/*
	*/Navigator.app/*
	*/build/*

[report]
fail_under = 0
show_missing = true
skip_covered = true
exclude_lines = 
	# Have to re-enable the standard pragma
	pragma: no cover
	# Ignore local file testing
	def test():
	if __name__ == .__main__.:

